In [1]:
import pandas as pd
data = pd.read_csv("/content/sample_data/california_housing_test.csv")
description = data.describe()
print("Description of the data:\n", description)

Description of the data:
          longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

In [2]:
import pandas as pd
data = pd.read_csv("/content/sample_data/california_housing_test.csv")
data_types = data.dtypes
print("Data type of each column:\n", data_types)
shape = data.shape
print("\nShape of the data:", shape)

Data type of each column:
 longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Shape of the data: (3000, 9)

In [3]:
import pandas as pd
data = pd.read_csv("/content/sample_data/california_housing_test.csv")
null_values = data.isnull().sum()
print("Null values in the data:\n", null_values)
data.fillna(data.mean(), inplace=True)

Null values in the data:
 longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [4]:
import pandas as pd
data = pd.read_csv("/content/sample_data/california_housing_test.csv")
features = data.iloc[:, :-1]
target = data.iloc[:, -1]
print("Features:")
print(features.head())
print("\nTarget:")
print(target.head())

Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income
0      1537.0       606.0         6.6085
1       809.0       277.0         3.5990
2      1484.0       495.0         5.7934
3        49.0        11.0         6.1359
4       850.0       237.0         2.9375

Target:
0    344700.0
1    176500.0
2    270500.0
3    330000.0
4     81700.0
Name: median_house_value, dtype: float64

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
target_column = data.columns[-1]

features = data.drop(columns=[target_column])
target = data[target_column]
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:",y_test.shape)

Shape of X_train: (2400, 8)
Shape of X_test: (600, 8)
Shape of y_train: (2400,)
Shape of y_test: (600,)

In [12]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
target_column = data.columns[-1]
features = data.drop(columns=[target_column])
target = data[target_column]
scaler = MinMaxScaler()
features_normalized = scaler.fit_transform(features)
features_normalized_df = pd.DataFrame(features_normalized, columns=features.columns)
print("Normalized Features:")
print(features_normalized_df.head())

Normalized Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.219814  0.513889            0.509804     0.127414        0.121654
1   0.606811  0.181624            0.823529     0.049402        0.056858
2   0.657379  0.130342            0.509804     0.117691        0.093225
3   0.600619  0.134615            0.529412     0.002004        0.002400
4   0.465428  0.402778            0.352941     0.040566        0.044674

   population  households  median_income
0    0.128416    0.122565       0.421277
1    0.067393    0.055804       0.213728
2    0.123973    0.100041       0.365064
3    0.003688    0.001826       0.388684
4    0.070830    0.047687       0.168108